.inputWidth{
    width: 20rem;
}

.login{
    display: flex;
    width: 30vw;
    height: 25rem;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 1rem;
}

.titleForm{
    font-size: 2rem;
}

.snack {
    display: flex;
    justify-content: space-between;
}