.inputWidth{
    width: 20rem;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 1rem;
}