.titleCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* margin-left: 2rem; */
    padding: 0 2rem;
    color: #000;
    font-weight: 600;
}

.cardDisplay{
    width: 90vw;
    height: 30rem;
    background: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: flex-start;
    flex-direction: column;
}

.btnBack{
    transition: .5s;
    transform: translateX(0);
}

.btnBack:hover{
    transition: .5s;
    transform: translateX(-10px);
}

.bodyCard{
    width: 95%;
    margin-top: 1rem;
    max-height: 18rem;
    overflow-y: auto;
    position: relative;
    /* overflow-y: auto; */
}

::-webkit-scrollbar {
    background-color: #e4e4e7;
    border-radius: 1rem;
}

::-webkit-scrollbar:vertical {
    width:.65rem;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
    display: none;
} 

::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 1rem;
    border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.maxContent{
    background-color: #000;
}

.textTable{
    color: #000;
}

.inputSearch{
    width: 20rem !important;
}

.headerTable{
    color: #000 !important;
    font-weight: bold !important;
    position: sticky;
    top: 0;
}

.tableStyle{
    position: relative;
}